/* global */
* {
  font-family: helvetica;
}
/* Board */
.Board {
  background: black;
  border-collapse: collapse;
}
.CellContainer {
  width: 2.2em;
  height: 2em;
  text-align: center;
  padding: 0;
  border: 1px solid black;
}

.Cell {
  background: #aaaaaa;
  font-weight: bold;
  box-shadow: inset 0 0 3px 0px #101010, inset 0 0 4px 4px #555555;
  display: block;
  vertical-align: middle;
  height: 100%;
  line-height:1.8em;
  border-radius: 2px;
  cursor: pointer;
}

.Cell-visited {
  background: #dddddd;
  box-shadow: inset 0 0 2px 0 #101010;
  border-radius: 1px;
  cursor: default;
}

.Cell-flagged {
  
}

.Cell-bomb {
  color: red;
}

.Cell-1 {
  color: blue;
}

.Cell-2 {
  color: green;
}

.Cell-3 {
  color: red;
}

.Cell-4 {
  color: navy;
}
